---
layout: default
paginate:
  collection: cards
  per_page: 5
  limit: false
---

<div id="content">
    {% for card in paginator.cards %}

        {% include card.html %}

    {% endfor %}
</div>

<img src="/img/spinner.gif" id="next_page_spinner" />

<div class="paginator">
    {% if paginator.next_page %}<span class="paginator-next"><a href="{{ paginator.next_page_path}}">Next</a></span>{% endif %}
    {% if paginator.previous_page %}<span class="paginator-previous"><a href="{{ paginator.previous_path }}">Prev</a></span>{% endif %}
</div>