<div class="col-sm-7">
  <div class="animated-search-filter">
    <% @users.each do |user| -%>
        <%= render 'card', user: user %>
    <% end %>
  </div>
</div>

<div class="sidebar col-sm-5">
  <form action="/">
    <div class="input-group search-field">
      <input type="text" name="search" class="form-control animated-search-filter" placeholder="Search for developer or app">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Go!</button>
    </span>
    </div>
  </form>
  <p>
    <%= image_tag 'logo.png', height: '120em', class: 'logo animated', id: 'logo' %>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
