<script type="text/javascript">
  /* <![CDATA[ */
  (function () {
    var s = document.createElement('script');
    var t = document.getElementsByTagName('script')[0];

    s.type = 'text/javascript';
    s.async = true;
    s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';

    t.parentNode.insertBefore(s, t);
  })();
  /* ]]> */
</script>


<div class="col-sm-7">

  <% @users.each do |user| -%>
      <%= render 'card', user: user %>
  <% end %>

</div>

<div class="sidebar col-sm-5">
  <p>
    <%= image_tag 'logo.png', height: '120em', class: 'logo animated', id: 'logo' %>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

</div>