/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap
 *= require_tree .
 *= require_self
 */


body {
  font-family: 'HKGroteskRegular';
  font-weight: normal; 
  font-style: normal;
  background-image: url(/assets/background.jpg);
  background-size: cover;
  color: #FFF8DA !important;
}
.alignment {
  padding-top: 0.6em;
}
.main-head {
  color: #FFF8DA;
  margin-bottom: 2em;
  font-weight: bold; 
  font-style: normal;
}
.card {
  margin-bottom: 3em;
  padding: 2em;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(80px);

  border-radius: 10px;
  box-shadow: 1px 1px 6px #d1d1d1;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05)
}

.card:after {
  content: "";
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.card:hover:after {
  opacity: 1;
}

.sidebar {
  font-size: 2em;
  font-weight: normal; 
  font-style: normal;
}
.username {
  font-size: 2em;
}
