/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */

body {
  background-image: url(/assets/background.jpg);
  background-size: cover;
  color: #FFF8DA !important;
}
.alignment {
  padding-top: 0.6em;
}
.main-head {
  color: #FFF8DA;
  margin-bottom: 2em;
}
.card {
  margin-bottom: 3em;
  padding: 2em;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(80px);
}
.sidebar {
  font-size: 2em;
}
.username {
  font-size: 2em;
}
