body {
  font-family: 'HKGroteskRegular';
  font-weight: normal;
  font-style: normal;
  background-image: image-url('background.jpg');
  background-size: cover;
  color: #FFF8DA !important;
}

.search-field {
  margin-bottom: 1.5em;
}

.search-field input {
  font-family: 'HKGroteskRegular';
}

.logo {
  float: left;
  margin-right: 15px;
  -webkit-animation-duration: 5s;
}

a, a:visited, a:hover {
  color: #FFF8AA;
  text-decoration: underline;
}

a:hover {
  color: #AAA8DD;
}

.alignment {
  padding-top: 0.6em;
}

.main-head {
  color: #FFF8DA;
  margin-bottom: 2em;
  font-weight: bold;
  font-style: normal;
}

.card {
  margin-bottom: 3em;
  padding: 2em;
  background: rgba(34, 34, 34, 0.2);
  border-radius: 20px;

  box-shadow: inset 0 0 8px rgba(47, 47, 47, 0.2);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05)
}

.card:after {
  content: "";
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.card:hover:after {
  opacity: 1;
}

.sidebar {
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
}

.username {
  font-size: 2em;
}
