// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-success, .btn-success:hover {
  background-color: #525250;
  border-color: #525250;
}

.user-description {
  margin-bottom: 1.5em;
}

input.form-control {
  color: #FFF8AA;
  background: #525250 !important;
  border-color: #525250;
}