<!DOCTYPE html>
<html>
<head>
  <title>Updip</title>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hk-grotesk" type="text/css"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/nav' %>

  <main class="site-content container">
    <div class="col-sm-12">
      <%= yield %>
    </div>
  </main>


<footer>
  <div class="container">
    <div class="col-sx-12">
      <p>Footer scooter</p>
    </div>
  </div>
</footer>

</body>
</html>

